./models
./models/*
./models/*/*
./models/*/*/*
./models/*/*/*/*
models
models/*
models/*/*
models/*/*/*
models/*/*/*/*
*.meta
*.index
*.data-*
*.ckpt.*

./tests
./tests/*
tests
graph*.pb
chk*.meta
lifting
slim

